



*{
  margin:0px;
  padding:0px;
  border:0px;
  font-family: sans-serif;
  /* overflow-x: hidden; */
}

#wholecontainer{
  width:100vw;
  height:100%;
  /* background-color: rgb(92, 30, 30); */
  color:white;
  /* overflow-y: scroll; */
  overflow: hidden;
  /* margin-left: 110px; */
  /* overflow-x: hidden; */
}
#Nav1{
  padding:8px 10px 8px 10px;
  /* justify-content:end; */
  color:black;

  /* background-color: white; */
  background-color: white;


}
#nav1menus{
  display:flex;
  justify-content: flex-end;
  margin-right: 180px;
}
#nav1menus > div{
  font-size: 15px;
  font-weight:bold;
  margin-right:25px;
  padding:5px 14px 5px 14px;
  cursor:pointer;
}
#logbut{
  /* border:1px solid black; */
  border-radius: 5px;
  font-weight: bold;
  color:white;
  background-color: blue;
  padding:3px 10px 3px 10px;
}
#langbut{
  display:flex;
  /* justify-content: end; */
}
#pagelangbox{
  display: flex;
  justify-content: end;
}
#pagelangmenus{
  width:110px;
  position: absolute;
  border-radius: 7px;
  height:68px;
  /* font-size: 16px; */
  background-color: white;
  margin-right: 210px;
  /* padding:10px 10px 10px 10px; */
  /* margin:-10px 0px 0px 1200px;  */
  text-align: center;
  font-weight: bold;
  overflow: hidden;
}
/* #sharpdesignPagelangmenu{
  width:0px;
  height:0px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 20px solid rgb(216, 222, 133) ;
  position: absolute;
  margin:-17px 0px 0px 1180px;
} */
#pagelangmenus div{
  padding:5px 5px 5px 5px;
  width:100%;
  /* border-bottom: 1px solid black; */
  cursor: pointer;
  color:black;
  /* background-color: aquamarine; */
}
#pagelangmenus div:hover{
  background-color: rgb(246, 245, 245);
}
.PLmbutinactive{
  #pagelangmenus{
    display: none;
  }
}

.PLmbutactive{
  #pagelangmenus{
    display:block;
  }
}
#langbut ion-icon{
  font-size: 20px;
}
#Nav2{
  display:flex;
  justify-content: space-between;
  padding:10px 10px 20px 10px;
  height:75px;
  /* background-color: rgb(230, 229, 229); */
  font-size: 20px;
  color: black;
  
  width:1255px;
}
#wholenav2{
  display: flex;
  background-color: rgb(240, 239, 239);
  justify-content: center;

}
#logo{
  margin:10px 0px 0px 10px;
  flex: 3;
}
#logo img{
  width:130px;
  /* margin-top: 0px; */
  /* height:0px; */
}
#Nav2 #menus{
  display: flex;
  /* flex: 4; */
  padding-top: 5px;
  font-weight: bold;
  color:black;
  /* margin-right: 160px; */

  /* justify-content: space-around; */
}
#menulines ion-icon{
  font-size: 22px;
  margin:10px 20px 0px 10px;
  display: none;
  color:black;
}
#menus #lists{
  display:flex;
  flex:4;
  margin-right: 30px;

}
#lists div{
  padding:10px 10px 5px 10px;
  cursor: pointer;
  flex: 1;
  min-width: 150px;
}
#lists div:hover{
  /* text-shadow: 5px 5px 5px rgb(red); */
    color:rgb(122, 122, 122);
    text-shadow:2px 2px 0px hsl(210, 3%, 88%),-2px -2px 60px hsl(202, 7%, 70%) ;

}
/* #stlearnbut{
  padding:10px 35px 15px 35px;
  margin-right: 20px;
  text-align: center;
  background-color:rgb(244, 192, 3);
  border-radius: 10px;
  color:black;
  cursor: pointer;
  height:45px;
  font-weight: bold;
  
  
} */
.Cmbutinactive{
  #coursemenucontainer{
    display: none;
  }
}
.Cmbutactive{
  #coursemenucontainer{
    display: block;
  }
}
#coursemenucontainer{
  width:200px;
  height:220px;
  /* background-color: aliceblue; */
  color:black;
  margin:-10px 0px 0px 850px;
  /* padding:10px 20px 10px 20px; */
  text-align: center;
  border-radius: 10px;
  background-color:white;
  z-index: 3;
  position: absolute;
}
#coursemenucontainer div{
   padding:10px 10px 10px 10px;
   cursor: pointer;
   /* border-bottom: 1px solid black; */
}
#coursemenucontainer div:active{
  color:aliceblue;
  /* background-color: azure; */

}
#coursemenucontainer div:hover{
  background-color: rgb(248, 248, 248);
}
/* #coursemenucontainer .col{
  margin-left: 0px;
} */
/* #coursedesign{
  width:0;
  height:0;

  position: absolute;
  margin:-245px 0px 0px 90px;
  border-left:12px solid transparent;
  border-right:12px solid transparent;
  border-bottom:25px solid rgb(200, 201, 196);

} */
#coursemenubut:active{
     color:rgb(145, 142, 142);
}
#loginpage{
  padding:0px;
  margin:0px;
  border:0px;
}

#logincontainer{
  
  background-color: rgb(221, 222, 223);
  height:100vh;
  width:100vw;
  /* padding:10px 20px 10px 20px; */
  /* background-color: ; */
}
#loginbox{
   margin:50px 0px 0px 0px;
   width:380px;
   height:450px;
   background-color: rgb(242, 242, 240);
   padding:20px 20px 20px 20px;
   border-radius: 7px;
}
#Registerbox{
   margin:20px 0px 0px 0px;
   width:380px;
   height:520px;
   background-color: rgb(242, 242, 240);
   padding:20px 20px 20px 20px;
   border-radius: 7px;
   /* position: absolute; */
}
.Regpageinactive{
  #Registerbox{
    display: none;
  }
}
.Regpageactive{
  #Registerbox{
    display: block;
    /* display: flex;
    justify-content: center; */
  }
}
.Loginpageinactive{
  #loginbox{
    display: none;
  }

}
.Loginpageactive{
  #loginbox{
    display: block;
  }
}

.label{
  width:100px;
  font-weight: 700;
}

#loginpagenav{
  display: flex;
  background-color: rgb(74, 74, 74);
  height:55px;
  width:100vw;
  padding:10px 20px 10px 20px;
  color: white;
}
#Registerpageswitch{
  margin:0px 0px 10px 50px;
}
#Loginpageswitch{
  margin:0px 0px 10px 50px;
}
/* #loghomepagebut{
  margin-left: 1300px;
} */
#loginbox input{
  width:300px;
  height:35px;
  padding:3px 3px 3px 3px;
}
#loginbox div{
  /* display: flex; */
  margin-top: 20px;
}
#containerloginbut{
  width:60px;
  height:40px;
  border:1px solid black;
  padding:5px 10px 10px 10px;
  border-radius: 5px;
  background-color: rgb(125, 180, 162);
  margin-left: 140px;
  color:white;
  cursor: pointer;

}
#Registerbox input{
  width:300px;
  height:35px;
  padding:3px 3px 3px 3px;
}
#Registerbox div{
  /* display: flex; */
  margin-top: 20px;
}
#containerRegisterbut{
  width:80px;
  height:40px;
  border:1px solid black;
  padding:5px 10px 10px 10px;
  border-radius: 5px;
  background-color: rgb(125, 180, 162);
  margin-left: 140px;
  color:white;
  cursor: pointer;

}
#innercontainer{
  display: flex;
  justify-content: center;
}
#innercontainer video{
  width:100vw;
  
  /* width:900px; */
  /* height:600px; */
  border-radius: 7px;
  /* margin-left: 120px; */
  /* background-color: bisque; */
  
  /* background-size: cover; */
  /* text-align: center; */
}
#innercontent{
  position: absolute;
  margin:-400px 0px 0px 400px;
  z-index: 1;
  /* width:100vw; */
  /* height:500px; */
}
#welcomemsg{
  text-shadow: 2px 2px 3px rgb(157, 157, 156),-2px -2px 3px rgb(157, 157, 156);

}
#innercontent #head{
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 80px;
  font-family: cursive;
  color:white;
  text-shadow: 2px 2px 3px rgb(157, 157, 156),-2px -2px 3px rgb(157, 157, 156);

  
}
#inputfieldofhome{
  display:flex;
  width:750px;
  height:48px;
  background-color: white;
  color:black;
  margin:10px 0px 0px 0px;
  border-radius: 13px;
  box-shadow:4px 4px 10px hsl(210, 12%, 36%),4px -4px 20px hsl(207, 10%, 39%) ;

  /* opacity: 0.8; */
  /* padding:2px 2px 2px 2px; */
}
#inputfieldofhome #searchicon{
  width:40px;
  height:42px;
  text-align: center;
  /* background-color: antiquewhite; */
  padding:12px 0px 5px 5px;
  cursor: pointer;


}
#searchicon ion-icon{
  font-size: 21px;
  font-weight: bold;
  color:rgb(183, 182, 182);

}
#sendicon{
  cursor: pointer;
  width:40px;
  height:42px;
  text-align: center;
  
  /* background-color: antiquewhite; */
  padding:12px 0px 5px 5px;
}
#sendicon ion-icon{
  font-size: 22px;
  color:black;
  filter:drop-shadow(2px 2px 4px rgb(105, 104, 104));
  filter:drop-shadow(-2px -2px 4px rgb(105, 104, 104));

}
#sendicon:hover{
  animation: shake 0.8s;
  animation-iteration-count: 1;
}
#inputfieldofhome input{
  width:650px;
  height:35px;
  margin-right: 10px;
  border-radius: 5px;
  outline:none;
  padding:10px 0px 0px 10px;
  font-size: 18px;
}
#inputfieldofhome input::placeholder{
  color: grey;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
}
#inputfieldofhome button{
  width:65px;
  height:35px;
  border-radius: 5px;
  background-color: blueviolet;
  color:white;
  cursor: pointer;
  padding:0px 7px 0px 7px; 
}
#innerbody{
  /* background-color:rgb(164, 121, 121); */
  /* height: 400px; */
  color:black;
  padding:0px 0px 20px 0px;
  /* opacity: 0.8; */
  width:100vw;
  overflow: hidden;
  /* margin-left: 110px; */
  /* overflow-x: hidden; */
  /* height:100px; */
}
.courseimg{
  border-radius: 7px;
  overflow: hidden;
  height: 500px;
}

.freecourses{
  /* margin-left: 70px; */
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
  padding:10px 0px 20px 0px;
  width:1255px;
  /* margin-left: 100px; */
  /* justify-items: center; */
  
  /* gap:rem; */
  
}
.freecourses div{
  min-width: 250px;
  

}
#innerbody .row{
  margin-bottom: 40px;
  padding:20px 0px 20px 0px;
  border-radius: 10px;
}

#innerbody img{
  border-radius: inherit;
    transition: all 0.8s ease-in-out;
    animation: roll linear;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    width:100%;
    height: 100%;
    cursor: pointer;
    /* user-select: none; */
}
/* #innerbody img:hover{
  transform: rotate(1.5deg) scale(1.2);
} */
#subscriptioncontainer{
  margin-top: 60px;
  /* background-color: beige; */
/* }
#coursecontainer{
  width:1200px;
  margin:20px 0px 10px 100px;
  /* overflow-x: hidden; */
  
  
  
  /* display: flex; */
}
#Googleformpagenav{
  display: flex;
  background-color: rgb(74, 74, 74);
  height:55px;
  width:100vw;
  padding:10px 20px 10px 20px;
  color: white;

}
#Googleformpage{
  padding:0px;
  margin:0px;
  border:0px;
}
#Googleformcontainer{
  
  height:100vh;
  background-color: rgb(221, 222, 223);
  width:100vw;
  overflow: hidden;


  /* padding:10px 20px 10px 20px; */
  /* background-color: ; */
}

#Googleformbox{
  margin:50px 0px 0px 0px;
  width:420px;
  height:480px;
  background-color: rgb(242, 242, 240);
  padding:20px 20px 20px 20px;
  border-radius: 7px;
  box-shadow:3px 3px 8px hsl(205, 8%, 71%),-3px -3px 8px hsl(205, 8%, 71%);
  /* text-align: center; */

}
/* #googleformlogo{
  flex: 2;
}
#Googleformhomepagebut{
  flex: 1;
} */
#Googleformcontainer button{
  margin:30px 0px 10px 20px;
  width:350px;
  height:40px;
  padding:5px 5px 5px 5px;
  background-color: blue;
  color:whitesmoke;
  font-weight: bold;
  border-radius: 8px;
}
#Googleformcontainer #radiobuts{
  display: flex;
}
/* #Googleformbox input{
  width:300px;
  height:35px;
  padding:3px 3px 3px 3px;
} */
/* #Googleformbox #email{
  display: flex;
} */
.ginput input{
  width:300px;
  height:35px;
  padding:3px 3px 3px 3px;
  outline: none;
}
#Ginputscontainer{
  margin-top: 20px;
}
#Ginputscontainer div{
  margin-top: 10px;
}
#Googleformbox label{
  font-weight: bold;
}
#Googleboxcontainer{
  display: flex;
  justify-content: center;
  /* align-items: center */
  /* margin-top: 40px; */
  height:100vh;
  background-color: rgb(221, 222, 223);
}


/* #Googleformbox #interested{
  display: flex;
}
#Googleformbox #mobile{
  display: flex;
}
#Googleformbox #radiobuts{
  display: flex;
} */









.custom-shape-divider-top-1746412244 {
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100vw;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1746412244 svg {
    position: relative;
    display: block;
    width: calc(163% + 1.3px);
    height: 230px;
}

.custom-shape-divider-top-1746412244 .shape-fill {
    fill:white;
}
#footermenus{
  position: absolute;
  margin:210px 0px 10px 500px;
  z-index: 2;
  color: white;
  display: flex;
  /* width:100vw; */

}
#footermenus div div{
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  font-weight: bold;
  display: flex;
}




@keyframes roll {
  0%{
    transform: scale(1);
  }
  25%{
    transform: scale(1.01);
  }
  50%{
    transform: scale(1.02);
  }
  75%{
    transform: scale(1.01);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes shake {
  0%{
    transform: translateX(0);
  }
  20%{
    transform: translateX(-2px);
  }
  40%{
    transform: translateX(2px);
  }
  60%{
    transform: translateX(-2px);
  }
  80%{
    transform: translateX(2px);
  }
  100%{
    transform: translateX(0px);
  }
}

@keyframes scrolling {
  from{
    transform: translateX(0px);
  }
  to{
    transform: translateX(-50px);
  }
}

@media (min-width:380px) and (max-width:450px)
{
  #Googleboxcontainer{
    width:100%;
  }
}


@media (max-width:600px)
{
  #Nav2 #lists{
    display:none;
  }
  #pagelangmenus{
    margin-right: 50px;
  }
  #wholecontainer{
    margin-left: 0px;
    width:100vw;
  }
  #nav1menus{
    margin-right: 20px;
  }
  #logo{
    margin-left: 10px;
  }
  #stlearnbut{
    display: none;
  }
  
  #innercontainer img{
    margin-left: 0px;
    width:100vw;
  }
  #menulines ion-icon{
    display:block;
    cursor: pointer;
  }
  #coursemenucontainer{
    margin-left: 50px;
  }
  #innercontent{
    margin-left: 30px;
  }
  #innercontent #head{
    width:300px;
    font-size: 1.2rem;
  }
  #innercontent input{
    width:15rem;
    
  }
  #inputfieldofhome{
    margin-top: 50px;
    width:21rem;
  }
  .freecourses div{
    max-width: 500px;
    

    
  }
  #pagelangmenus{
    margin-left: 150px;
  }
  /* #sharpdesignPagelangmenu{
    margin-left:140px ;
  } */
  /* .freecourses{
    margin-left: 0px;
  } */
  /* #inputfieldofhome{
    width:450px;
  } */
  #footermenus{
    margin-left: 100px;
  }
  /* #wholebody{
    background-color: bisque;
    overflow: hidden;
    width:600px;
  } */

}
@media (min-width:600px) and (max-width:800px)
{
   #innercontainer img{
    width:100vw;
   }
   #innercontent{
    margin-left: 80px;
   }
   #logo{
    margin-left: 10px;
    flex: 3;
   }
   #stlearnbut{
    display: none;
   }
   
  #innercontent #head{
    width:400px;
    font-size: 1.3rem;
    /* margin-bottom: 10px; */
  }
  #innercontent input{
    width:25rem;

  }
  #inputfieldofhome{
    width:31rem;
    margin-top: 80px;
  }
  #pagelangmenus{
    margin-left: 370px;
  }
  #sharpdesignPagelangmenu{
    margin-left:140px ;
  }
 #coursemenucontainer{
   margin-left: 130px;
 }
 #footermenus{
  margin-left: 120px;
 } 

}
@media (min-width:800px) and (max-width:1150px)
{
  #innercontent{
    margin-left: 150px;

  }
  /* #pagelangmenus{
    margin-left: 550px;
  } */
  #innercontainer{
    width:100vw;
  }
  #innercontent #head{
    width:520px;
    font-size: 1.5rem;
  }
  #innercontent input{
    width:35rem;

  }
  #inputfieldofhome{
    width:40rem;
  }
  #logo{
    margin-left: 10px;
  }
  #footermenus{
    margin-left: 140px;
   } 
   /* #Nav2{
    justify-content: space-between;
   } */
}